<button *ngIf="isNotGuest" class="btn btn-dark material-icons add-button" data-toggle="modal" data-target="#addGymModal">add</button>

<div class="modal fade" id="addGymModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a gym</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="addGymForm" (ngSubmit)="addGym()">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Gym Name</label>
                        <input type="text" formControlName="gym_name" class="form-control" [ngClass]="{'is-invalid': submitted && form.gym_name.errors}"
                            placeholder="Brestyan's" autofocus>
                        <div *ngIf="submitted && form.gym_name.errors" class="invalid-feedback">
                            <div *ngIf="form.gym_name.errors.required">Gym name is required</div>
                            <div *ngIf="form.gym_name.errors.maxlength">Gym name must not be over 100 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Gym Url</label>
                        <input type="url" formControlName="gym_logo_url" class="form-control" [ngClass]="{'is-invalid': submitted && form.gym_logo_url.errors}"
                            placeholder="https://www.brestyans.com/">
                        <div *ngIf="submitted && form.gym_logo_url.errors" class="invalid-feedback">
                            <div *ngIf="form.gym_logo_url.errors.maxlength">Gym url must not be over 255 characters</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer form-group">
                    <button type="button" class="btn btn-secondary" (click)="resetModal()">Cancel</button>
                    <button type="submit" class="btn btn-primary" [disabled]="loading">Add Gym</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-hover table-bordered">
    <thead class="thead">
        <tr>
            <th width="2%" class="text-center">ID</th>
            <th width="7%" class="text-center">Logo</th>
            <th class="text-center">Gym Name</th>
            <th class="text-center">Number of Members</th>
            <th width="9%" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gym of gyms">
            <td class="text-center">{{ gym.gym_id }}</td>
            <td><img src="{{ gym.gym_logo_url }}" class="logo" alt="Gym Logo"></td>
            <td class="text-center">{{ gym.gym_name }}</td>
            <td class="text-center">0</td>
            <td class="text-center">
                <button class="btn mt-1 mr-2 material-icons" (click)="edit(gym.gym_id)">edit</button>
                <button class="btn mt-1 mr-2 material-icons" (click)="delete(gym.gym_id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>