<button *ngIf="isNotGuest" class="btn btn-dark material-icons add-button" id="addGymnast" data-toggle="modal" data-target="#addGymnastModal">add</button>

<div class="modal fade" id="addGymnastModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a gymnast</h5>
                <button type="button" class="close" (click)="resetModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="addGymnastForm" (ngSubmit)="addGymnast()">
                <div class="modal-body">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="gymnast_first_name" class="form-control" [ngClass]="{'is-invalid': submitted && form.gymnast_first_name.errors}"
                            placeholder="John" autofocus>
                        <div *ngIf="submitted && form.gymnast_first_name.errors" class="invalid-feedback">
                            <div *ngIf="form.gymnast_first_name.errors.required">First name is required</div>
                            <div *ngIf="form.gymnast_first_name.errors.maxlength">Level must be over 25 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" formControlName="gymnast_last_name" class="form-control" [ngClass]="{'is-invalid': submitted && form.gymnast_last_name.errors}"
                            placeholder="Doe">
                        <div *ngIf="submitted && form.gymnast_last_name.errors" class="invalid-feedback">
                            <div *ngIf="form.gymnast_last_name.errors.required">Last name is required</div>
                            <div *ngIf="form.gymnast_last_name.errors.maxlength">Level must be over 35 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Gym</label>
                        <select formControlName="gym_id" class="form-control" [ngClass]="{'is-invalid': submitted && form.gym_id.errors}">
                            <option *ngFor="let gym of gyms" value="{{ gym.gym_id }}" [selected]="currentGymnast && currentGymnast.gym_id === gym.gym_id">{{
                                    gym.gym_name }}</option>
                        </select>
                        <div *ngIf="submitted && form.gym_id.errors" class="invalid-feedback">
                            <div *ngIf="form.gym_id.errors.required">Gym is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Level</label>
                        <input type="text" formControlName="gymnast_level" class="form-control" [ngClass]="{'is-invalid': submitted && form.gymnast_level.errors}"
                            placeholder="10">
                        <div *ngIf="submitted && form.gymnast_level.errors" class="invalid-feedback">
                            <div *ngIf="form.gymnast_level.errors.required">Level is required</div>
                            <div *ngIf="form.gymnast_level.errors.maxlength">Level must be over 15 characters</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer form-group">
                    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary" [disabled]="loading">Save Gymnast</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-hover table-bordered">
    <thead class="thead">
        <tr>
            <th width="2%" class="text-center">ID</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">Gym</th>
            <th class="text-center">Level</th>
            <th width="9%" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gymnast of gymnasts">
            <td class="text-center">{{ gymnast.gymnast_id }}</td>
            <td class="text-center">{{ gymnast.gymnast_first_name }}</td>
            <td class="text-center">{{ gymnast.gymnast_last_name }}</td>
            <td class="text-center">{{ gymnast.gym_id.gym_name }}</td>
            <td class="text-center">{{ gymnast.gymnast_level }}</td>
            <td class="text-center">
                <button (click)="edit(gymnast.gymnast_id)" class="btn mt-1 mr-2 material-icons">edit</button>
                <button (click)="delete(gymnast.gymnast_id)" class="btn mt-1 mr-2 material-icons">delete</button>
            </td>
        </tr>
    </tbody>
</table>