<table class="table table-hover">
    <thead class="thead">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.login }}</td>
            <td>{{ roles[user.auth_level] }}</td>
            <td><button [routerLink]="['edit', user.id]" class="btn material-icons">edit</button></td>
            <td><button class="btn material-icons">delete</button></td>
        </tr>
    </tbody>
</table>

