<button [routerLink]="['new']" class="btn btn-dark material-icons add-button" id="addUser">add</button>

<table class="table table-hover">
    <thead class="thead">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
            <th width="9%" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr id="{{ user.user_id }}" *ngFor="let user of users">
            <td>{{ user.user_id }}</td>
            <td>{{ user.login }}</td>
            <td>{{ roles[user.auth_level] }}</td>
            <td class="text-center">
                <button [routerLink]="['edit', user.user_id]" class="btn mr-2 material-icons">edit</button>
                <button (click)="delete(user.user_id)" class="btn material-icons">delete</button>
            </td>
        </tr>
    </tbody>
</table>